@import url(reset.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 62.5%;
    background: #233142 url('../img/dragon.jpg') center top;
    background-size: cover;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}
.puzzle {
    position: relative;
    width: 300px;
    height: 800px;
/*    background: #000;*/
}

.puz {
    cursor: pointer;
    position: absolute;
    width: 200px;
    height: 200px;
}

.puz1 {
    width: 230px;
    height: 229px;
}

.puz2, .puz6, .puz9 {
    width: 200px;
    height: 230px;
}

.puz3, .puz4, .puz5, .puz7, .puz8  {
    width: 230px;
    height: 230px;
}
.puz10, .puz12 {
    width: 230px;
    height: 201px;
}
.puz11 {
    width: 200px;
    height: 201px;
}
.dropArea {
    position: relative;
    width: 600px;
    height: 800px;
    background: url('../img/songo.jpg') center top;
/*    background-size: 200px 150px;*/
}